<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.provereval.menu"
               label="Prover Evaluation">
            <command
                  commandId="de.provereval.eval"
                  label="Evaluate Provers on all Projects"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.provereval.eval"
            name="Evaluate Provers on all Projects">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.provereval.EvalCommand"
            commandId="de.provereval.eval">
      </handler>
   </extension>

</plugin>
